[Unit]
Description = Gnome Kering Daemon

[Service]
EnvironmentFile = -%h/.config/gnome-keyring-daemon.conf
ExecStart = %h/.config/systemd/user/start-gnome-keyring-daemon
Restart = always

[Install]
WantedBy = default.target
